<!DOCTYPE html>
<html lang="es">

<!--traigo el head-->

<head>
    <%- include ('./partials/head') %>

        <!--traigo el css-->
        <link rel="stylesheet" href="/css/stylesHombre.css">
</head>

<body>

    <!--HEADER-->
    <%- include ('./partials/header') %>

        <main>
            <% if(locals.errores && errores) { %>
                <h4 class="error">No se encontraron resultados exactos de tu busqueda</h4>
                <% } %>
                    <div class=productos>
                        <% productos.forEach(element => { %>
                            <div class='imagenYdescripcion'><a
                                    href="/producto/<%=element.categoria.nombre%>/<%= element.id %>"> <img
                                        class='foto' src=<%=element.imagen%> > </a>
                                <h4>
                                    <%= element.nombreDelProducto%>
                                </h4>
                                <h6>
                                    <%if(element.precio>= 1000) { %> $
                                        <%=toThousand(element.precio)%>
                                            <% } else { %> $
                                                <%=element.precio%>
                                                    <% } %>
                                </h6>


                            </div>
                            <% }) %>

                      
                    </div>
                    
                    <!-- whatsapp -->
                    <%- include ('./partials/whatsapp') %>

        </main>

        <!--FOOTER-->
        <%- include ('./partials/footer') %>

</body>

</html>