!DOCTYPE html>
<html lang="en">
    
<!--traigo el head-->
    <%- include ('./partials/head') %>
    
<!--traigo el css-->
    <link rel="stylesheet" href="/css/stylesHombre.css">

<body>
    
    <!--HEADER-->
    <%- include ('./partials/header') %>

<main>
    <div>

    <% let listaDeProductosHombre = listaDeProductos.filter(element => element.sexo == "Hombre") %>



    <% for (let i = 0; i < listaDeProductosHombre.length; i++){ %>     
         <a href="/producto/hombre/producto1"> <img src=<%= listaDeProductosHombre[i].imagen%> > </a>
        <h4><%= listaDeProductosHombre[i].nombreDelProducto%></h4>
        <h6>$<%= listaDeProductosHombre[i].precio%></h6>



        <% } %> 
    </div>


</main>

<!--FOOTER-->
<%- include ('./partials/footer') %>

</body>
</html>