!DOCTYPE html>
<html lang="en">
    
<!--traigo el head-->
    <%- include ('./partials/head') %>
    
<!--traigo el css-->
    <link rel="stylesheet" href="/css/stylesHombre.css">

<body>
    
    <!--HEADER-->
    <%- include ('./partials/header') %>

<main>
    <div class=productos>

    <% let listaDeProductosHombre = listaDeProductos.filter(element => element.sexo == "hombre") %>

    <% for (let i = 0; i < listaDeProductosHombre.length; i++){ %>     
         <div class='imagenYdescripcion'><a href="/producto/hombre/<%= listaDeProductosHombre[i].id  %>"> <img class='foto' src=<%= listaDeProductosHombre[i].imagen%> > </a>
        <h4><%= listaDeProductosHombre[i].nombreDelProducto%></h4>
        <h6>$<%= listaDeProductosHombre[i].precio%></h6>


    </div>
        <% } %> 
    </div>


</main>

<!--FOOTER-->
<%- include ('./partials/footer') %>

</body>
</html>