<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
</head>
<%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/stylesMiCuenta.css">
    </head>

    <!--HEADER-->
    <%- include ('./partials/header') %>

        <body>
            <main>
                <h1 class="titulo-micuenta">Mi cuenta</h1>
                <h3 class="subtitulo-micuenta">
                    ยก<%=(userLogged.sexo==="mujer") ? "Bienvenida" : "Bienvenido" %>,
                        <%= userLogged.nombre.charAt(0).toUpperCase() + userLogged.nombre.slice(1) %>!
                </h3>
                <div class="contenedor-perfil">
                    <img src="<%=userLogged.imagen%>">
                    <ul class="botones-usuario-perfil">
                        <li><a href="/cuenta/micuenta/editar">
                                <p class="mi-cuenta-link">Detalles de la cuenta</p>
                            </a></li>
                        <li> <a href="/cuenta/logout">
                                <p class="mi-cuenta-link">Logout</p>
                            </a></li>
                        <li>
                            <form action="/cuenta/micuenta/<%=userLogged.id%>?_method=DELETE" method="POST">
                                <button class="button-log" type="submit">
                                    <p class="mi-cuenta-link">Eliminar usuario</p>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>

                <!-- whatsapp -->
                <%- include ('./partials/whatsapp') %>
            </main>
            <!--FOOTER-->
            <%- include ('./partials/footer') %>
        </body>

</html>