!DOCTYPE html>
<html lang="en">
    
<!--traigo el head-->
    <%- include ('./partials/head') %>
    
<!--traigo el css-->
    <  <link rel="stylesheet" href="/css/stylesHombre.css">

<body>
    
    <!--HEADER-->
    <%- include ('./partials/header') %>

<main>
    <div class=productos>

    <% let listaDeProductosMujer = listaDeProductos.filter(element => element.sexo == "mujer") %>



    <% for (let i = 0; i < listaDeProductosMujer.length; i++){ %>     
        <div class='imagenYdescripcion'><a href="/producto/mujer/<%=listaDeProductosMujer[i].id%>"><img class='foto' src=<%= listaDeProductosMujer[i].imagen%> ></a>
        <h4><%= listaDeProductosMujer[i].nombreDelProducto%></h4>
        <h6>$<%= listaDeProductosMujer[i].precio%></h6>


    </div>
        <% } %> 
    </div>


</main>

<!--FOOTER-->
<%- include ('./partials/footer') %>

</body>
</html>