<!DOCTYPE html>
<html lang="en">
    
<!--traigo el head-->
    <%- include ('./partials/head') %>
    
<!--traigo el css-->
    <link rel="stylesheet" href="/css/StylesProductDetail.css">

<body>
    
    <!--HEADER-->
    <%- include ('./partials/header') %>

<br>
<main>
<article>
    <img class="buzo" src="/image/productos/hombre/buzo-hombre.jpg" alt="buzo">

<descripcion>
<h4><%= listaDeProductos[0].nombreDelProducto%></h4>
<h6>$<%= listaDeProductos[0].precio%></h6>
<p><%= listaDeProductos[0].descripcion%></p>


<div class="color">
<label>Color:</label>
<label>
    <input type="radio" name="color" value="blanco">Blanco
</label>
<label>
    <input type="radio" name="color" value="negro">Negro
</label>
</div>

<div class="talle">
<label>Talle</label>
<label>
    <input type="radio" name="talle" value="XL" required>XL</label>
    <label>
        <input type="radio" name="talle" value="L" required>L</label>
        <label>
            <input type="radio" name="talle" value="M" required>M</label>
            <br>
            <button>Añadir al Carrito</button>
        </div>
 <br>

    
            <nav class="navegacion">
                <ul class="menu">
                    <li><a><button1>Envios</button1></a>
                        <ul class="submenu">
                            <li>El envio se realiza a través del correo Andreani, a domicilio o sucursal, o retiro en nuestros locales.</li>

                </ul>
            </li>
            </nav>

       
            <nav class="navegacion">
                <ul class="menu">
                    <li><a><button2>Cambios y devoluciones</button2></a>
                        <ul class="submenu">
                            <li>Podrás realizar un cambio hasta 30 días después de haber recibido tu compra. Los productos deberán encontrarse en el mismo estado en que fueron remitidos, sin haber sido utilizados, y con el embalaje y etiquetas originales en buen estado.</li>

                </ul>
            </li>
            </nav>
 
</descripcion>
</article>
   
</main>

<!--FOOTER-->
<%- include ('./partials/footer') %>

</body>
</html>