<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ('./partials/head') %>

        <link href="/css/stylesForm.css" rel="stylesheet">
</head>

<body>
    <!--HEADER-->
    <%- include ('./partials/header') %>

        <main>
            <h1>Editar Producto</h1>
            <div class="tablet">
                <div class="caja2">
                    <h5> Editar producto: <%= producto.nombreDelProducto %>
                    </h5>

                    <form action="/producto/<%= producto.id %>?_method=PUT" method="POST" class="create-form"
                        enctype="multipart/form-data">
                        <div class="control-formulario">
                            <p>
                                <label for="nombreDelProducto">Nombre del producto</label>
                                <input type="text" id="nombreDelProducto" name="nombreDelProducto" class="control"
                                    value="<%= producto.nombreDelProducto %>">
                            </p>
                            <% if (locals.errors && errors.nombreDelProducto){ %>
                                <div style="color:rgb(255,0,0);">
                                    <%= errors.nombreDelProducto.msg %>
                                </div>
                                <% } %>

                                    </p>
                        </div>
                        <div class="control-formulario">
                            <p>
                                <label for="descripcion">Descripción</label>
                                <input type="text" id="descripcion" name="descripcion" class="control"
                                    value="<%= producto.descripcion%>">
                            </p>
                            <% if (locals.errors && errors.descripcion){ %>
                                <div style="color:rgb(255,0,0);">
                                    <%= errors.descripcion.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="control-formulario">
                            <p>
                                <label for="precio">Precio</label>
                                <input type="number" id="precio" name="precio" class="control"
                                    value="<%= producto.precio%>">
                            </p>
                            <% if (locals.errors && errors.precio){ %>
                                <div style="color:rgb(255,0,0);">
                                    <%= errors.precio.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="control-formulario">
                            <p>
                                <label for="color">Colores</label>
                                <input type="text" id="color" name="color" class="control" value="<%= producto.color%>">
                            </p>
                            <% if (locals.errors && errors.color){ %>
                                <div style="color:rgb(255,0,0);">
                                    <%= errors.color.msg %>
                                </div>
                                <% } %>
                        </div>
                        <div class="control-formulario contenedor-select">

                            <label>Tallas: (Elige las tallas que aplican para el producto) *<label>
                                    <% if (locals.errors && errors.talla){ %>
                                        <div style="color:rgb(255,0,0);">
                                            <%= errors.talla.msg %>
                                        </div>
                                        <% } %>
                                            <% tallas.forEach(talla=> { %>
                                                <% if (talla.id==producto.tallas.talla_id) {%>
                                                    <label class="form-select">
                                                        <input type="checkbox" name="talla"
                                                            class="control control-select" value="<%=talla.id%>"
                                                            checked><span>
                                                            <%=talla.valor%>
                                                        </span></label>
                                                    <% } else {%>
                                                        <label class="form-select">
                                                            <input type="checkbox" name="talla"
                                                                class="control control-select"
                                                                value="<%=talla.id%>"><span>
                                                                <%=talla.valor%>
                                                            </span></label>
                                                        <% } %>
                                                            <% }) %>
                        </div>

                        <div class="control-formulario contenedor-select">
                            <label>Categoria: (Elige la categoria del producto) *</label>
                            <div class="erroresCategoria coloresErrores">
                                <% if (locals.errors && errors.categoria){  %>
                                    <div  style="color:rgb(255,0,0);">
                                      <%= errors.categoria.msg %> 
                                    </div>
                                    <% } %> 
                                </div>
                            <% categorias.forEach(categoria=> { %>
                                <% if (categoria.id==producto.categoria_id) {%>
                                    <label class="form-select">
                                    <input type="radio" name="categoria" class="control control-select" value="<%=categoria.id%>"
                                        checked><span><%=categoria.nombre.charAt(0).toUpperCase()+categoria.nombre.slice(1)%></span></label>
                                    <% } else {%>
                                        <label class="form-select">
                                            <input type="radio" name="categoria" class="control control-select" value="<%=categoria.id%>">
                                                <span>
                                                    <%=categoria.nombre.charAt(0).toUpperCase()+categoria.nombre.slice(1)%>
                                                </span></label>
                                        <% } %>
                                            <% }) %>
                                                
                        </div>

                        <div class="control-formulario contenedor-select">          
                            <label>Tipo: (Elige el tipo de producto) *</label>
                            <div class="erroresTipo coloresErrores">
                                <% if (locals.errors && errors.tipo){  %>
                                    <div  style="color:rgb(255,0,0);">
                                      <%= errors.tipo.msg %> 
                                    </div>
                                    <% } %> 
                                </div>
                            <% tipos.forEach(tipo=> { %>
                                <% if (tipo.id==producto.tipo_id) {%>
                                    <label class="form-select">
                                    <input type="radio" name="tipo" class="control control-select" value="<%=tipo.id%>" checked><span>
                                        <%=tipo.nombre%>
                                    </span></label>
                                    <% } else {%>
                                        <label class="form-select">
                                            <input type="radio" name="tipo" class="control control-select" value="<%=tipo.id%>"><span>
                                                <%=tipo.nombre%>
                                            </span></label>
                                        <% } %>
                                            <% }) %>
                        </div>


                        <div class="col-12 col-md-6">
                            <label for="imagen" class="control-formulario">Imagen del producto *</label>
                            <input type="file" id="imagen" name="imagen" class="control-formulario">
                            <div class="col-12">
                                <% if (locals.errors && errors.imagen){ %>
                                    <div style="color:rgb(255,0,0);">
                                        <%= errors.imagen.msg %>
                                    </div>
                                    <% } %>

                                        <div>
                                            <p>
                                                <button class="button-log" type="submit">Editar</button>
                                            </p>
                                        </div>
                    </form>
                </div>


            </div>

        </main>
        <!--FOOTER-->
        <%- include ('./partials/footer') %>

</body>

</html>